<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги фитнес-зала</title>
    <link rel="stylesheet" href="{% static 'gymHome/css2.css' %}">

</head>
<body>

<header>
    <h1>Наши услуги</h1>
</header>

<nav>
        <a href={% url "home" %}>Главная</a>
        <a href="{% url "about" %}">О нас</a>
        <a href={% url "service" %}>Услуги</a>
        <a href={% url "trainers" %}>Тренеры</a>
        <a href="{% url "equipment" %}">Тренажёры</a>
</nav>

<div class="content">
    <section class="services">
        <div class="card">
            <h3>Индивидуальные тренировки</h3>
            <p>Персональные занятия с опытным тренером для достижения максимального результата.</p>
            <div class="price">от 1500 ₽ / час</div>
        </div>

        <div class="card">
            <h3>Групповые занятия</h3>
            <p>Энергичные тренировки в группе — йога, зумба, фитнес и кроссфит.</p>
            <div class="price">от 700 ₽ / занятие</div>
        </div>

        <div class="card">
            <h3>Программы питания</h3>
            <p>Индивидуально составленный план питания для набора массы или снижения веса.</p>
            <div class="price">от 3000 ₽ / месяц</div>
        </div>

        <div class="card">
            <h3>Массаж и релакс-зона</h3>
            <p>Восстановление после тренировок: массаж, сауна и отдых для тела и души.</p>
            <div class="price">от 2000 ₽ / сеанс</div>
        </div>
    </section>
</div>

</body>
</html>
