<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Наши тренажёры | Fitness Club</title>
  <link rel="stylesheet" href="{% static 'main/css/EqStyle.css'%}">
</head>
<body>

  <!-- Навигация -->
  <header>
    <div class="navbar">
      <div class="logo">🏋️‍♂️ Fitness Club</div>
      <ul class="nav-center">
        <li><a href="{% url "index" %}">Главная</a></li>
        <li><a href="{% url "index" %}">О нас</a></li>
        <li><a href="{% url "servis" %}">Услуги</a></li>
        <li><a href="{% url "machines" %}">Тренажёры</a></li>
      </ul>
      <div class="nav-right">
        <div class="dropdown">
          <button class="dropbtn">Другие клубы ▾</button>
          <div class="dropdown-content">
            <a href="#">Клуб №1</a>
            <a href="#">Клуб №2</a>
            <a href="#">Клуб №3</a>
          </div>
        </div>
        <a href="/login" class="login-btn">Войти</a>
      </div>
    </div>
  </header>

  <!-- Контент -->
<section>
  <div class="machines-grid">
    {% for machine in machines %}
    <div class="machine-card">
      <img src="{{ machine.image.url }}" alt="{{ machine.name }}" class="trainer-img">
      <div class="machine-content">
        <h3>{{ machine.name }}</h3>
        <span class="category">{{ machine.category }}</span>
        <p>{{machine.description|truncatechars:25}}</p>
        <p class="manufacturer">Производитель: {{ machine.manufacturer }}</p>
        <a href="{% url "machin" machine.id %}" class="btn">Подробнее</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

  <!-- Футер -->
  <footer>
    <p>© 2025 Fitness Club | Все права защищены</p>
  </footer>

</body>
</html>
